<div id="fale-conosco">
  <div class="container">
    <div class="row">
      <div class="card rounded-lg border-0 col-sm-8 mx-auto">
        <div class="card-body p-4 py-5">
          <header class="mb-5">
            <a href="#" class="h3 text-muted mr-5">Fale conosco</a>
            <a href="#" class="h3 text-danger"><u>Divulge sua marca</u></a>
          </header>

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-5">
                Nosso canal de relacionamento com o cliente é por meio de nossas redes sociais ou pelo formulário de
                contato ao lado. Tem alguma sugestão, comentário ou dúvida? Entre em contato conosco ou visite nossa
                área de Dúvidas Frequentes, a resposta para os seus questionamentos pode estar lá.
              </p>

              <h4>Imprensa</h4>
              <p>
                Se você é jornalista, entre em contato com a nossa Assessoria de Imprensa! Envie um e-mail para:
                <b>selfit@maquinacohnwolfe.com.br</b>
              </p>
            </div>

            <div class="col-sm-6">
              <form action="">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="E-mail" />
                </div>

                <div class="form-group">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="customRadioInline1"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline1">Sou aluno</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="customRadioInline2"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline2">Não sou aluno</label>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Assunto" />
                </div>

                <div class="form-group">
                  <textarea class="form-control" placeholder="Assunto"></textarea>
                </div>

                <button class="btn btn-lg btn-block btn-danger">Enviar contato</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
