<div id="fale-conosco">
  <div class="container">
    <header class="mb-4 d-block d-sm-none">
      <a href="#" class="h3 text-danger mr-5" routerLink="/faleconosco"><u>Fale conosco</u></a>
      <a href="#" class="h3 text-muted" routerLink="/faleconosco/divulgue">Divulgue sua marca</a>
    </header>

    <div class="row">
      <div class="card rounded-lg border-0 col-sm-8 mx-auto shadow ">
        <div class="card-body p-4 py-5">
          <header class="mb-5 d-none d-sm-block">
            <a href="#" class="h3 text-muted mr-5" routerLink="/faleconosco">Fale conosco</a>
            <a href="#" class="h3 text-danger" routerLink="/faleconosco/divulgue"><u>Divulgue sua marca</u></a>
          </header>

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-5">
                Gostaria de ter sua marca exposta em nossas unidades? Entre em contato conosco através do formulário de
                contato ou por meio de nossas redes sociais.
              </p>
            </div>

            <div class="col-sm-6">
              <form action="">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="E-mail" />
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Telefone" />
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Site da empresa" />
                </div>

                <div class="form-group">
                  <textarea class="form-control" placeholder="Sua proposta"></textarea>
                </div>

                <button class="btn btn-lg btn-block btn-danger">Enviar contato</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
