<div id="fale-conosco">
  <div class="container">
    <header class="mb-4 d-block d-sm-none">
      <a href="#" class="h3 text-danger mr-5" routerLink="/faleconosco"><u>Fale conosco</u></a>
      <a href="#" class="h3 text-muted" routerLink="/faleconosco/divulgue">Divulgue sua marca</a>
    </header>

    <div class="row">
      <div class="card rounded-lg border-0 col-sm-8 mx-auto shadow ">
        <div class="card-body p-4 py-5">
          <header class="mb-5 d-none d-sm-block">
            <a href="#" class="h3 text-danger mr-5" routerLink="/faleconosco"><u>Fale conosco</u></a>
            <a href="#" class="h3 text-muted" routerLink="/faleconosco/divulgue">Divulgue sua marca</a>
          </header>

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-5">
                Nosso canal de relacionamento com o cliente é por meio de nossas redes sociais ou pelo formulário de
                contato ao lado. Tem alguma sugestão, comentário ou dúvida? Entre em contato conosco ou visite nossa
                área de Dúvidas Frequentes, a resposta para os seus questionamentos pode estar lá.
              </p>

              <h4>Imprensa</h4>
              <p>
                Se você é jornalista, entre em contato com a nossa Assessoria de Imprensa! Envie um e-mail para:
                <b>selfit@maquinacohnwolfe.com.br</b>
              </p>
            </div>

            <div class="col-sm-6">
              <form (ngSubmit)="faleconosco()" [formGroup]="faleconoscoForm">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="nome" placeholder="Nome" required />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="E-mail" required />
                </div>

                <div class="form-group">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="soualuno"
                      name="aluno"
                      class="custom-control-input"
                      formControlName="aluno"
                      value="s"
                      required
                    />
                    <label class="custom-control-label" for="soualuno">Sou aluno</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      id="naosoualuno"
                      name="aluno"
                      class="custom-control-input"
                      formControlName="aluno"
                      value="n"
                      required
                    />
                    <label class="custom-control-label" for="naosoualuno">Não sou aluno</label>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="assunto" placeholder="Assunto" required />
                </div>

                <div class="form-group">
                  <textarea class="form-control" formControlName="mensagem" placeholder="Mensagem" required></textarea>
                </div>

                <button class="btn btn-lg btn-block btn-danger" type="submit" [disabled]="faleconoscoForm.invalid">
                  Enviar contato
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
