<div class="areadoaluno__documentos areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Documentos</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Documentos</h1>
    <p>Nesta página você encontra todos os Contratos de serviços</p>
    <p>Os documentos estão em formato PDF e só poderão ser visualizados com o software Adobe Acrobat Reader.</p>
  </header>

  <div class="areadoaluno__interna__content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item btn btn-link" (click)="gerarContrato()">
        <i class="fas fa-file-download mr-3 text-danger"></i> Contratos
      </li>
      <li class="list-group-item btn btn-link">
        <a href="https://cdn.selfitacademias.com.br/documentos/Normas.De.Utilizacao.pdf" target="_blank"
          ><i class="fas fa-file-download mr-3 text-danger"></i> Normas</a
        >
      </li>
    </ul>
  </div>
</div>
