<div class="areadoaluno__trasferencia areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Transferência de unidade</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Transferência de unidade</h1>
  </header>

  <form [formGroup]="transferenciaForm" (ngSubmit)="confirmarTransferencia()" class="areadoaluno__interna__content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div class="mr-5">
          <h4 class="text-danger">Unidade atual</h4>
          <p>{{ credentials.nomeEmpresa }}</p>
        </div>
        <div>
          <h4 class="text-danger">Mensalidade atual</h4>
          <p>{{ credentials.plano.valorMensal | currency: 'BRL' }}</p>
        </div>
      </li>

      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <p>Escolha a unidade para qual deseja transferênia</p>
          <div class="form-group">
            <select name="unidade" formControlName="unidade" class="form-control" (change)="selectUnidade()">
              <option value="">Selecione uma unidade</option>
              <option *ngFor="let unidade of unidades" [ngValue]="unidade">{{ unidade.nome }}</option>
            </select>
          </div>
        </div>
      </li>

      <li
        *ngIf="unidadeSelected && unidadeSelectedPlano"
        class="list-group-item align-items-sm-center flex-column flex-sm-row"
      >
        <div class="mr-5">
          <h4 class="text-danger">Unidade atual</h4>
          <p>{{ unidadeSelectedPlano.nome }}</p>
        </div>
        <div>
          <h4 class="text-danger">Mensalidade atual</h4>
          <p>{{ unidadeSelectedPlano.manutencao | currency: 'BRL' }}</p>
        </div>
      </li>
      <li *ngIf="unidadeSelected" class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <h4 class="text-danger">Facilidades desta unidade</h4>
          <div *ngFor="let conveniencia of unidadeSelected.unidadeConveniencias">
            <img
              src="{{
                'https://www.selfitacademias.com.br/uploads/conveniencia/f_' + conveniencia.conveniencia.imagem
              }}"
            />
          </div>
        </div>
      </li>
      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <div class="form-check mb-5">
            <input class="form-check-input" formControlName="aceite" type="checkbox" id="aceite" />
            <label class="form-check-label" for="aceite">
              <small
                >Li e aceito o termo de adesão. Estou ciente que o upgrade pode modificar o valor da mensalidade. Para
                mais informações, consulte as unidades e valores no site.</small
              >
            </label>
          </div>
          <div>
            <button
              class="btn btn-danger"
              type="submit"
              [disabled]="
                transferenciaForm.invalid || transferenciaForm.controls['aceite'].value === false || isLoading
              "
            >
              Confirmar transferência
            </button>
          </div>
        </div>
      </li>
    </ul>
  </form>
</div>
