<div class="areadoaluno__documentos areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalhes do plano</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Detalhes do plano</h1>
  </header>

  <div class="areadoaluno__interna__content cards-custom">
    <div class="cards">
      <div class="card" routerLink="/areadoaluno/meuperfil">
        <div class="card-body ">
          <div>
            <i class="far fa-user card-icon"></i>
            <div class="card-content">
              <strong>Meu perfil</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/meutreino">
        <div class="card-body ">
          <div>
            <i class="fas fa-dumbbell card-icon"></i>
            <div class="card-content">
              <strong>Meu treino</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/pagamentos">
        <div class="card-body ">
          <div>
            <i class="far fa-credit-card card-icon  "></i>
            <div class="card-content">
              <strong>Pagamentos</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <svg-icon src="../../assets/layout/icons/selfclass.svg" class="card-icon"></svg-icon>
            <div class="card-content">
              <strong>Selfclass</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/areadoaluno/documentos">
        <div class="card-body ">
          <div>
            <i class="far fa-file-alt card-icon  "></i>
            <div class="card-content">
              <strong>Documentos</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/transferencia">
        <div class="card-body ">
          <div>
            <i class="fas fa-exchange-alt card-icon  "></i>
            <div class="card-content">
              <strong>Transferência de unidade</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/areadoaluno/cancelamento">
        <div class="card-body ">
          <div>
            <i class="fas fa-ban card-icon  "></i>
            <div class="card-content">
              <strong>Cancelamento</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
