<div class="areadoaluno__home">
  <div class="container cards-custom">
    <header class="text-center areadoaluno__home__header d-none d-sm-block">
      <h1 class="areadoaluno__home__header-title">Seja bem-vind@</h1>
    </header>

    <div class="cards">
      <div class="card" routerLink="/areadoaluno/meuperfil">
        <div class="card-body ">
          <div>
            <i class="far fa-user card-icon"></i>
            <div class="card-content">
              <strong>Meu perfil</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/meutreino">
        <div class="card-body ">
          <div>
            <i class="fas fa-dumbbell card-icon"></i>
            <div class="card-content">
              <strong>Meu treino</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/pagamentos">
        <div class="card-body ">
          <div>
            <i class="far fa-credit-card card-icon  "></i>
            <div class="card-content">
              <strong>Pagamentos</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <svg-icon src="../../assets/layout/icons/selfclass.svg" class="card-icon"></svg-icon>
            <div class="card-content">
              <strong>Selfclass</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/areadoaluno/documentos">
        <div class="card-body ">
          <div>
            <i class="far fa-file-alt card-icon  "></i>
            <div class="card-content">
              <strong>Documentos</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" routerLink="/areadoaluno/transferencia">
        <div class="card-body ">
          <div>
            <i class="fas fa-exchange-alt card-icon  "></i>
            <div class="card-content">
              <strong>Transferência de unidade</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/areadoaluno/cancelamento">
        <div class="card-body ">
          <div>
            <i class="fas fa-ban card-icon  "></i>
            <div class="card-content">
              <strong>Cancelamento</strong>
              <p>Edite ou adicione dados pessoais, endereço e de contato</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
