<div class="areadoaluno__documentos areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalhes do plano</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Detalhes do plano</h1>
  </header>

  <div class="areadoaluno__interna__content cards-custom cards-black">
    <div class="cards">
      <div class="card">
        <div class="card-body ">
          <div>
            <i class=" card-icon"
              ><img src="http://cdn.selfitacademias.com.br/icons-conv/horario-livre_fly.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Horário Livre</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <i class=" card-icon"
              ><img src="http://cdn.selfitacademias.com.br/icons-conv/musculacao_fly.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Musculação</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <i class=" card-icon  "
              ><img src="http://cdn.selfitacademias.com.br/icons-conv/ergometria_fly.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Ergometria</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <i class="card-icon"
              ><img src="https://selfitacademias-bucket.s3-sa-east-1.amazonaws.com/icons-conv/acompanhante4.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Acompanhante gratuito 4 vezes por mês</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body ">
          <div>
            <i class="card-icon  "
              ><img src="http://cdn.selfitacademias.com.br/icons-conv/localizacao_fly.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Livre acesso a todas as unidades</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <i class="card-icon  "
              ><img src="https://selfitacademias-bucket.s3-sa-east-1.amazonaws.com/icons-conv/cancelamento.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Multa de cancelamento</strong>
              <p>
                Desde que avisado com 30 dias de antecedência, no plano Self Light. Em caso de cancelamento do Plano
                Self Plus, haverá multa de 25% sobre as mensalidades faltantes do plano de 12 meses.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body ">
          <div>
            <i class="card-icon  "
              ><img src="https://selfitacademias-bucket.s3-sa-east-1.amazonaws.com/icons-conv/camisaP.png" alt=""
            /></i>
            <div class="card-content">
              <strong>Camisa exclusiva</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <div>
            <div class="card-content">
              <strong>Anuidade 90 dias após data de matrícula</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
