<div class="areadoaluno__cancelamento areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cancelamento</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Cancelamento</h1>
    <h2 class="text-danger">Você quer mesmo cancelar? :(</h2>
    <p>Valor de cancelamento de acordo com seu contrato</p>
    <button class="btn btn-outline-danger btn-lg">R$ 155,08</button>
  </header>

  <div class="areadoaluno__internta__content">
    <ul class="list-group list-group-flush">
      <hr />
      <li class="list-group-item ">
        <div>
          <p>Diz pra gente porque está nos deixando:</p>
          <div class="form-group">
            <select class="form-control">
              <option value="1">Mudança de cidade</option>
            </select>
          </div>
          <button class="btn btn-danger">Efetuar cancelamento</button>
        </div>
      </li>
    </ul>
  </div>
</div>
