<div class="areadoaluno__trasferencia areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Transferência de unidade</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Transferencia de unidade</h1>
  </header>

  <div class="areadoaluno__internta__content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div class="mr-5">
          <h4 class="text-danger">Unidade atual</h4>
          <p>Boa viagem</p>
        </div>
        <div>
          <h4 class="text-danger">Mensalidade atual</h4>
          <p>R$ 99,90</p>
        </div>
      </li>

      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <p>Escolha a unidade para qual deseja transferênia</p>
          <div class="form-group">
            <select class="form-control">
              <option value="1">Mag Shopping</option>
            </select>
          </div>
        </div>
      </li>

      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div class="mr-5">
          <h4 class="text-danger">Unidade atual</h4>
          <p>Boa viagem</p>
        </div>
        <div>
          <h4 class="text-danger">Mensalidade atual</h4>
          <p>R$ 99,90</p>
        </div>
      </li>
      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <h4 class="text-danger">Facilidades desta unidade</h4>
          <div></div>
        </div>
      </li>
      <li class="list-group-item align-items-sm-center flex-column flex-sm-row">
        <div>
          <div class="form-check mb-5">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div>
            <button class="btn btn-danger">Confirmar transferência</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
