<div class="areadoaluno__meuperfil areadoaluno__interna container">
  <header class="areadoaluno__interna__header">
    <div class="areadoaluno__breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/areadoaluno">Conta</a></li>
          <li class="breadcrumb-item active" aria-current="page">Meu perfil</li>
        </ol>
      </nav>
    </div>
    <h1 class="areadoaluno__interna__header-title">Meu perfil</h1>
  </header>

  <form class="areadoaluno__interna__content" (ngSubmit)="editarPerfil()" [formGroup]="editForm">
    <div class="row">
      <div class="col-sm-7">
        <h2 class="areadoaluno__interna__header-subtitle">Dados pessoais</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <ng-container *ngIf="!editNome">
              <div class="item-content">
                <strong>Nome</strong>
                <p>{{ credentials.nomecliente }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editNome = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editNome">
              <div class="item-content">
                <strong>Nome</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nome"
                    placeholder="Nome"
                    value="{{ credentials.nomecliente }}"
                  />
                </div>
                <button class="btn btn-primary" type="submit">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editNome = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
          <li class="list-group-item">
            <ng-container *ngIf="!editEmail">
              <div class="item-content">
                <strong>E-mail</strong>
                <p>{{ credentials.email }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editEmail = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editEmail">
              <div class="item-content">
                <strong>E-mail</strong>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="E-mail"
                    value="{{ credentials.email }}"
                    required
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editEmail = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
          <li class="list-group-item">
            <ng-container *ngIf="!editCpf">
              <div class="item-content">
                <strong>CPF</strong>
                <p>{{ credentials.cpf }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCpf = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editCpf">
              <div class="item-content">
                <strong>CPF</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cpf"
                    placeholder="CPF"
                    mask="000.000.000-00"
                    value="{{ credentials.cpf }}"
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCpf = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
          <li class="list-group-item">
            <ng-container *ngIf="!editNascimento">
              <div class="item-content">
                <strong>Data de nascimento</strong>
                <p>{{ credentials.datanascimento | date: 'dd/MM/yyyy' }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editNascimento = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editNascimento">
              <div class="item-content">
                <strong>Data de nascimento</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="datanasc"
                    placeholder="Data de nascimento"
                    value="{{ credentials.datanascimento | date: 'dd/MM/yyyy' }}"
                    mask="00/00/0000"
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editNascimento = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
          <li class="list-group-item">
            <ng-container *ngIf="!editGenero">
              <div class="item-content">
                <strong>Gênero</strong>
                <p>{{ credentials.sexocliente }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editGenero = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editGenero">
              <div class="item-content">
                <strong>Gênero</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="sexo"
                    placeholder="Sexo"
                    value="{{ credentials.sexocliente }}"
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editGenero = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
        </ul>
      </div>
      <div class="col-sm-5">
        <h2 class="areadoaluno__interna__header-subtitle">Endereço</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <ng-container *ngIf="!editCep">
              <div class="item-content">
                <strong>CEP</strong>
                <p>{{ credentials.cep }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCep = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editCep">
              <div class="item-content">
                <strong>CEP</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cep"
                    placeholder="CEP"
                    value="{{ credentials.cep }}"
                    mask="00000-000"
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCep = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
          <li class="list-group-item">
            <ng-container *ngIf="!editEndereco">
              <div class="item-content">
                <strong>Endereço</strong>
                <p>{{ credentials.endereco }}</p>
                <p>{{ credentials.numero }}</p>
                <p>{{ credentials.bairro }}</p>
                <p>{{ credentials.codigoCidade }} - {{ credentials.codigoEstado }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editEndereco = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editEndereco">
              <div class="item-content">
                <strong>Endereço</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="endereco"
                    placeholder="Endereço"
                    value="{{ credentials.endereco }}"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="numero"
                    placeholder="Número"
                    value="{{ credentials.numero }}"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="complemento"
                    placeholder="Complemento"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="bairro"
                    placeholder="Bairro"
                    value="{{ credentials.bairro }}"
                  />
                </div>
                <div class="form-group">
                  <select name="estado" class="form-control" (change)="getCidadesPorEstado()" formControlName="estado">
                    <option *ngFor="let estado of estados" [ngValue]="estado">{{ estado.nome }}</option>
                    <!--<option
                      *ngFor="let estado of estados"
                      [selected]="estado.codigo == credentials.codigoEstado"
                      value="{{ estado.codigo }}"
                      >{{ estado.nome }}</option
                    >-->
                  </select>
                </div>
                <div class="form-group">
                  <select name="cidade" class="form-control" formControlName="cidade">
                    <option *ngFor="let cidade of cidadesSelect" [ngValue]="cidade">{{ cidade.nome }}</option>
                  </select>
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editEndereco = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
        </ul>

        <br />
        <br />

        <h2 class="areadoaluno__interna__header-subtitle">Contato</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <ng-container *ngIf="!editCelular">
              <div class="item-content">
                <strong>Celular</strong>
                <p>{{ credentials.telcelular }}</p>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCelular = true">Editar</button>
              </div>
            </ng-container>

            <ng-container *ngIf="editCelular">
              <div class="item-content">
                <strong>Celular</strong>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telcelular"
                    placeholder="Celular"
                    placeholder="( )"
                    mask="(00) 00000.0000"
                  />
                </div>
                <button class="btn btn-primary">Salvar</button>
              </div>
              <div class="item-action ml-auto">
                <button class="btn btn-link" (click)="editCelular = false">Cancelar</button>
              </div>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
