<div class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 text-sm-center">
        <h2 class="featured__title">Já conhece a academia do seu jeito?</h2>
      </div>
    </div>

    <div class="row">
      <div class="featured__buttons col-12 col-sm-5 text-sm-center mx-auto  ">
        <div class="row flex-column flex-sm-row">
          <div class="col">
            <a routerLink="/areadoaluno" class="featured__button btn btn-block btn-light btn-lg">Já sou Alun@</a>
          </div>
          <div class="col">
            <a routerLink="/home" class="featured__button btn btn-block btn-danger btn-lg">Quero Conhecer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
