<div id="aselfit">
  <div class="aselfit__apresentacao">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-sm-6 my-5">
          <div class="card">
            <div class="card-body">
              <div class="p-5">
                <h3>Nosso manifesto</h3>

                <p>
                  Sabemos que cada um é único e que o exercício é para todos. Mais do que uma academia, somos amigos,
                  parceiros, professores. E estamos aqui para ajudá-lo a encontrar sua melhor versão.
                </p>
              </div>

              <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/rb9ez3DlfXg"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                style="margin-bottom:-5px"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col__image">
          <img src="assets/layout/about-boy.png" alt="" />
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

  <div class="aselfit__section aselfit__section--selfintense aselfit__section--left">
    <header class="aselfit__section-header">
      <div class="container">
        <h2>Self Intense</h2>
      </div>
    </header>
    <div class="aselfit__section-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>
              Espaço que proporciona benefícios aos alunos como ganho de força, equilíbrio, flexibilidade, resistência e
              agilidade. O usuário faz uso da corda naval, medicine ball, kettleball, sand bag, argola para exercício
              suspenso, caixote para pliometria, TXR, entre outros equipamentos potencializados que tornam o treino mais
              dinâmico e eficiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aselfit__section aselfit__section--selfextreme aselfit__section--right">
    <header class="aselfit__section-header">
      <div class="container">
        <h2>Self Extreme</h2>
      </div>
    </header>
    <div class="aselfit__section-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <p>
              Circuito de exercícios exclusivos de 30 minutos que ainda conta com painel de emagrecimento HIIT e uma
              área focada em exercícios exclusivos de alta intensidade, prolongando a queima de calorias depois do
              treino. Todo o processo é acompanhado por um@ professor@ em tempo real.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="aselfit__section aselfit__section--selfmove aselfit__section--left">
    <header class="aselfit__section-header">
      <div class="container">
        <h2>Self Move</h2>
      </div>
    </header>
    <div class="aselfit__section-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>
              Sala com a maior animação da academia equipada para aulas que beneficiam o condicionamento cardiovascular
              e fortalecem os músculos, como ginástica localizada, postural, zumba, muay thai e muito mais.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aselfit__section aselfit__section--selfspeed aselfit__section--right">
    <header class="aselfit__section-header">
      <div class="container">
        <h2>Self Speed</h2>
      </div>
    </header>
    <div class="aselfit__section-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <p>
              Sala equipada com esteiras, bicicletas, remos, simulador de escadas e elípticos que ajudam o aluno a
              adquirir resistência física através do fortalecimento do sistema cardiovascular.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="featured-plan">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-3 featured-plan__col-red">
        <h2 class="featured-plan__title">E aí, vamos começar?</h2>
      </div>
      <div class="col-12 col-sm-4 align-self-end text-center featured-plan__col-girl">
        <img src="assets/layout/featured-plan.png" widht="300px" class="img-responsive" alt="" />
      </div>
      <div class="col-12 col-sm-5 featured-plan__col-gray">
        <h2 class="featured-plan__title">Planos a partir de 69,90 mês</h2>
        <button routerLink="/busca" class="btn btn-light btn-block btn-lg">Comece sua jornada</button>
      </div>
    </div>
  </div>
</div>
