@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/breakpoints";

.aselfit__section--selfintense {
  background: url("../../assets/layout/aselfit-section-1.png") no-repeat;
  background-size: 60%;
  background-position: center right;
}

.aselfit__section--selfextreme {
  background: url("../../assets/layout/aselfit-section-2.jpg") no-repeat;
  background-size: 60%;
  background-position: center left;
}
.aselfit__section--selfmove {
  background: url("../../assets/layout/aselfit-section-3.jpg") no-repeat;
  background-size: 60%;
  background-position: center right;
}
.aselfit__section--selfspeed {
  background: url("../../assets/layout/aselfit-section-4.jpg") no-repeat;
  background-size: 60%;
  background-position: center left;
}

.aselfit__apresentacao {
  .card {
    background-color: $red;
    color: white;
    border: 0;
    border-radius: 0;

    .card-body {
      padding-bottom: 0px;
    }
  }

  .col__image {
    margin-top: -80px;

    img {
      max-width: 100%;
    }
  }

  .col-sm-6 {
    padding: 0;
  }
}

.aselfit__section {
  padding-bottom: 300px;
  .aselfit__section-header {
    background-color: rgb(62, 61, 65);
    color: white;
    padding: 10px;
  }

  .aselfit__section-content {
    background-color: white;
    padding: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .aselfit__apresentacao {
    .card {
      border-radius: 10px;
      .card-body {
        padding: 0px;
      }
    }
    .col__image {
      margin-top: 0;
      margin-left: -100px;
    }
  }

  .aselfit__section {
    padding-bottom: 0;
    .aselfit__section-header {
      background-color: rgb(62, 61, 65);
      color: white;
      padding: 10px;
    }

    .aselfit__section-content {
      padding: 40px;
      position: relative;
      background-color: transparent;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 0;
      }
    }

    &.aselfit__section--left {
      .aselfit__section-content {
        &:before {
          left: calc(-50%);
          transform: skew(-25deg);
        }
      }
    }

    &.aselfit__section--right {
      .aselfit__section-content {
        .col-sm-6 {
          padding-left: 60px;
        }
        &:before {
          right: calc(-50%);
          transform: skew(25deg);
        }
      }
    }
  }
}
