<div id="unidade">
  <header class="unidade__header">
    <div class="container d-flex align-items-center text-center">
      <div class="text-center flex-fill col-sm-6 mx-auto my-5">
        <p class="mb-5">
          A Selfit surge como um novo conceito de academia posicionada no segmento Low Cost, onde a experiência se
          apresenta com uma excelente relação de custo/benefício
        </p>

        <a href="#" class="btn btn-large btn-danger">Vem crescer com a gente</a>
      </div>
    </div>
  </header>

  <div class="unidade__content my-5">
    <header class="text-center">
      <h2 class="text-danger">Nossa história</h2>
    </header>

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-6">
          <p>
            Treinar é deixar a energia fluir, é se sentir leve, livre e pronto para encarar a rotina com mais coragem e
            determinação. É descobrir novos movimentos todos os dias.
          </p>

          <p>
            Em 2012, partindo de uma forte visão empreendedora, os fundadores da Selfit começaram com a primeira
            unidade, em Salvador. Em 2015, quando já estavam com 5 unidades, associaram-se ao fundo H.I.G. Capital,
            elevando o negócio a uma nova escala e acelerando o seu crescimento.
          </p>

          <p>
            Hoje já são mais de 60 unidades próprias presentes em 13 Estados brasileiros. Com um processo de expansão a
            todo vapor, desde 2019, a Selfit introduziu ao mercado novos planos de expansão para Franqueados e sócios
            investidores, acelerando ainda mais o processo de crescimento da marca. Até o final de 2020, a meta é chegar
            a mais de 100 unidades Selfit em todo o País.
          </p>

          <p>
            Depois de enxergar e compreender melhor esta demanda do mercado, e de ter inaugurado com sucesso cerca de 20
            unidades em 2018, o propósito da Selfit é ofertar um ambiente único que oferece ao Aluno uma Experiência
            inesquecível, com alta tecnologia e conforto por um preço super competitivo.
          </p>

          <p>
            A Selfit acredita que a saúde e a modernidade andam lado a lado e que o baixo custo mensal, aliado à
            tecnologia e à busca pelo bem estar dos Alunos, são responsáveis pelo sucesso da marca. A Selfit trabalha
            com professores certificados e capacitados para auxiliar os Alunos na execução dos seus objetivos.
          </p>

          <p>
            A Selfit é mais que uma rede de academias, é um ambiente com amigos, parceiros e professores, e está aqui
            para ajudar as pessoas a encontrar a sua melhor versão.
          </p>

          <p>A Selfit é prática, próxima, pra cima e pra todos. Ela é do seu jeito !</p>

          <p>Selfit Academia do seu jeito</p>
        </div>
        <div class="col-sm-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/YJ4ibMC0em4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="unidade__plans">
    <div class="container">
      <h2 class="unidade__plans-title">Estrutura inovadora</h2>

      <div class="content">
        <div class="row ">
          <div class="col-sm-3">
            <img src="assets/content/franqueados-gallery-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-sm-3">
            <img src="assets/content/franqueados-gallery-2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-sm-3">
            <img src="assets/content/franqueados-gallery-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-sm-3">
            <img src="assets/content/franqueados-gallery-4.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="unidade__mapa">
    <img src="assets/content/franqueados-map.jpg" class="img-fluid" alt="" />
  </div>

  <section class="unidade__pontos-chave">
    <div class="container py-3">
      <header class="unidade__aulas-title">
        <h3>Pontos chaves da oportunidade</h3>
      </header>

      <div class="row">
        <div class="col-sm-3 unidade__aula text-center">
          <img src="assets/content/franqueados-pontos-1.png" alt="" />
          <p>
            Momento macro favorável: a economia se estabilizou e a expectativa do mercado é de crescimento para os
            próximos anos.
          </p>
        </div>
        <div class="col-sm-3 unidade__aula text-center">
          <img src="assets/content/franqueados-pontos-2.png" alt="" />
          <span
            >Modelo de negócio resiliente: crescimento forte e constante ao longo da maior crise econômica do Brasil nos
            últimos 80 anos.</span
          >
        </div>
        <div class="col-sm-3  unidade__aula text-center">
          <img src="assets/content/franqueados-pontos-3.png" alt="" />
          <span
            >Momento oportuno para acelerar o crescimento: O mercado imobiliário em baixa cria a oportunidade de
            negociar bons pontos com aluguéis mais acessíveis.</span
          >
        </div>
        <div class="col-sm-3 unidade__aula text-center">
          <img src="assets/content/franqueados-pontos-4.png" alt="" />
          <span
            >Infraestrutura necessária já contratada: Sistemas proprietários, governança madura, propósito estabelecido
            e cultura vencedora são as fontes que garantem a execução de um plano de crescimento ousado.</span
          >
        </div>
      </div>
    </div>
  </section>
  <section class="unidade__aulas">
    <div class="container">
      <header class="unidade__aulas-title">
        <h3 class="text-danger">Diferenciais</h3>
      </header>

      <div class="row unidade__aulas__list text-center mb-5">
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-1.png" alt="" />
          <span>Equipamentos modernos</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-2.png" alt="" />
          <span>Área de peso livre</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-3.png" alt="" />
          <span>Extensa área de cardio</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-4.png" alt="" />
          <span>Ginástica, dança e lutas</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-5.png" alt="" />
          <span>Self intense (funcional)</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-6.png" alt="" />
          <span>Self Extreme (circuito)</span>
        </div>
      </div>
      <div class="row unidade__aulas__list text-center">
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-7.png" alt="" />
          <span>Atividades adicionais (clube de corrida, aulas na praia, etc).</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-8.png" alt="" />
          <span>Horários livres</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-9.png" alt="" />
          <span>Melhor custo x benefício</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-10.png" alt="" />
          <span>Estacionamento</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-11.png" alt="" />
          <span>Self intense (funcional)</span>
        </div>
        <div class="col-sm-2 flex-fill unidade__aula">
          <img src="assets/content/franqueados-icon-12.png" alt="" />
          <span>Self Extreme (circuito)</span>
        </div>
      </div>
    </div>
  </section>

  <div class="unidade__plans">
    <div class="container">
      <h2 class="unidade__plans-title">Histórico de crescimento</h2>

      <div class="content">
        <div class="row ">
          <div class="col-sm-6 mx-auto">
            <img src="assets/content/franqueados-chart.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="unidade__content my-5">
    <header class="text-center">
      <h2 class="text-danger">Nossa história</h2>
    </header>

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-6">
          <img src="assets/content/franqueados-img-1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-sm-6">
          <img src="assets/content/franqueados-img-2.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="unidade__modelos">
    <div class="container py-5">
      <header class="text-center no-gutters">
        <h2 class="mb-5">Nossos modelos de negócios</h2>

        <ul
          ngbNav
          #nav="ngbNav"
          class="nav-pills nav text-center d-flex align-items-center col-sm-4 mx-auto bg-light rounded-pill "
        >
          <li class="flex-fill " ngbNavItem>
            <a ngbNavLink class="rounded-pill">Franqueado</a>
            <ng-template ngbNavContent>
              <div class="bg-white p-5">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="assets/content/modelo-1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-sm-8">
                    <h3>Perfil franqueado</h3>
                    <ul class="lista-especial">
                      <li>
                        Disposição e facilidade para adequação ao sistema de franquias, em que o negócio possui
                        estrutura deﬁnida e regras e padrões previamente estabelecidos;
                      </li>
                      <li>
                        Comprometimento administrativo e pessoal com a SELFIT ACADEMIAS; Habilidades como negociador e
                        gerenciador de conflitos;
                      </li>
                      <li>
                        Capacidade de vendas;
                      </li>
                      <li>
                        Gostar de tratar com pessoas, tendo facilidade e sensibilidade no relacionamento interpessoal,
                        seja com o público, fornecedores e colaboradores;
                      </li>
                      <li>
                        Responsabilidade, honestidade, idoneidade, ambição, organização, dinamismo e capacidade
                        administrativa;
                      </li>
                      <li>
                        Identificação com o negócio e com a marca.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bg-primary p-5 text-white">
                <header class="text-center text-white py-5">
                  <h2>Suporte ao franqueado</h2>
                </header>

                <div class="row">
                  <div class="col-sm-6">
                    <h3>Pré-inauguração</h3>
                    <ul class="lista-especial white ">
                      <li>
                        Assessoria na escolha e negociação do ponto comercial;
                      </li>
                      <li>
                        Fornecimento do projeto arquitetônico ao franqueado, que deverá ser implementado por arquiteto a
                        ser escolhido pelo franqueado;
                      </li>
                      <li>
                        Treinamento inicial de administração e gerenciamento para obtenção de todo o conhecimento
                        operacional da Academia SELFIT;
                      </li>
                      <li>
                        Orientação para compra dos equipamentos e produtos para a Academia SELFIT, que deverão ser
                        adquiridos exclusivamente dos fornecedores homologados;
                      </li>
                      <li>
                        Software de gestão próprio, desenvolvido para a gestão da academia S ELFIT.
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <h3>Pré-inauguração</h3>
                    <ul class="lista-especial white">
                      <li>
                        Ações de marketing oriundas do fundo de propaganda, para divulgação e promoção da marca SELFIT;
                      </li>
                      <li>
                        Definição da política comercial e campanhas promocionais; SAF (serviço de atendimento ao
                        franqueado);
                      </li>
                      <li>
                        Consultoria de campo orientada à gestão do negócio;
                      </li>
                      <li>
                        Revisão constante das técnicas e equipamentos para a Academia SELFIT. Realização das ações de
                        marketing institucional com aplicação de recursos próprios.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="flex-fill rounded-pill" ngbNavItem>
            <a ngbNavLink class="rounded-pill">Sócio Investidor</a>
            <ng-template ngbNavContent>
              <div class="bg-white p-5">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="assets/content/model-2.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-sm-8">
                    <h3>Perfil sócio investidor</h3>
                    <ul class="lista-especial">
                      <li>
                        Para empresários que buscam rentabilidade sobre o investimento;
                      </li>
                      <li>
                        Comprometimento administrativo e pessoal com a SELFIT ACADEMIAS;
                      </li>
                      <li>
                        Responsabilidade, honestidade, ambição, organização e dinamismo;
                      </li>
                      <li>
                        Comprovada disponibilidade financeira para o investimento necessário na montagem e início da
                        operação da SELFIT ACADEMIAS.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bg-primary p-5 text-white">
                <header class="text-center text-white py-5">
                  <h2>Suporte ao sócio investidor</h2>
                </header>

                <div class="row">
                  <div class="col-sm-6">
                    <h3>Pré-inauguração</h3>
                    <ul class="lista-especial white ">
                      <li>
                        Gestão da unidade realizada pela equipe da SELFIT ACADEMIAS;
                      </li>
                      <li>
                        Apresentação do resultado mensal da unidade do sócio investidor;
                      </li>
                      <li>
                        Reuniões periódicas com o setor de relação com investidores;
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <h3>Pré-inauguração</h3>
                    <ul class="lista-especial white">
                      <li>
                        Realização de ações de marketing institucional da marca SELFIT;
                      </li>
                      <li>
                        Definição da política comercial e campanhas promocionais da unidade SELFIT ACADEMIAS;
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div></div>
      </header>

      <div [ngbNavOutlet]="nav" class="mt-5"></div>
    </div>
  </div>
  <header class="unidade__footer">
    <div class="container text-center">
      <header>
        <h2>O quanto preciso investir?</h2>
      </header>
      <div class="text-center flex-fill col-sm-9 mx-auto my-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="card border-0">
              <div class="card-header bg-danger">
                <h3><small>Unidade</small> de 600m2</h3>
              </div>
              <div class="card-body text-primary">
                <strong>Total estimado</strong><br />
                <span>R$ 2.402.500,00</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0">
              <div class="card-header bg-danger">
                <h3><small>Unidade</small> de 700m2</h3>
              </div>
              <div class="card-body text-primary">
                <strong>Total estimado</strong><br />
                <span>R$ 2.402.500,00</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0">
              <div class="card-header bg-danger">
                <h3><small>Unidade</small> de 1000m2</h3>
              </div>
              <div class="card-body text-primary">
                <strong>Total estimado</strong><br />
                <span>R$ 3.393.000,00</span>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-large btn-danger mt-5">Vem crescer com a gente</a>
      </div>
    </div>
  </header>
</div>
