<div class="search-bar">
  <div class="container">
    <h2 class="search-bar__title">Estamos em mais de 15 estados</h2>
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row align-items-center flex-column flex-sm-row">
          <div class="col-12 col-sm-3 search-bar__text d-flex align-items-center">
            <i class="fas fa-angle-right search-bar__text__icon"></i>
            <span class="d-none d-sm-block">Encontre a Selfit mais próxima ou veja o mapa</span>
            <span class="d-block d-sm-none">Veja todas as unidades</span>
          </div>
          <div class="col-12 col-sm-9">
            <div class="input-group search-bar__input">
              <input
                type="text"
                id="busca"
                class="form-control"
                placeholder="Unidade, CEP, Cidade, Estado"
                aria-label="Unidade, CEP, Cidade, Estado"
                aria-describedby="button-addon2"
              />
              <label for="busca" class="fas fa-search search-bar__input__icon"></label>
              <div class="input-group-append d-none d-sm-block">
                <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-result">
  <div class="container">
    <strong class="mb-3">2 unidades encontradas</strong>

    <div class="row">
      <div class="search-result__list mt-3 col-sm-11">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/content/featured-desktop.jpg" class="card-img" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <strong class="text-danger"><i class="fas fa-map-marker-alt"></i> 2 km</strong>
                <h2 class="card-title">Campolim</h2>
                <p class="card-text">Rua Sra. M. A. Pessutti Milego, nº 250</p>
                <p class="card-text">Sorocaba-SP</p>
                <a href="#" class="card-text text-danger"><small>Como chegar</small></a>
              </div>
            </div>
          </div>

          <button class="btn btn-danger text-uppercase d-none d-sm-block">Comece sua jornada</button>
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/content/featured-desktop.jpg" class="card-img" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <strong class="text-danger"><i class="fas fa-map-marker-alt"></i> 2 km</strong>
                <h2 class="card-title">Campolim</h2>
                <p class="card-text">Rua Sra. M. A. Pessutti Milego, nº 250</p>
                <p class="card-text">Sorocaba-SP</p>
                <a href="#" class="card-text text-danger"><small>Como chegar</small></a>
              </div>
            </div>
          </div>
          <button class="btn btn-danger text-uppercase d-none d-sm-block">Comece sua jornada</button>
        </div>
      </div>
    </div>
  </div>
</div>
