@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/breakpoints";

.unidade__header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(#161616, 0.76) 50%, rgba(0, 0, 0, 0.2) 100%),
    url("./../../assets/content/unidade-mark.jpg") no-repeat;
  padding: $grid-gutter-width 0;
  color: white;

  .btn-matriculese {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 20px;
    background-color: white;
  }
}

@include media-breakpoint-up(sm) {
  .unidade__header {
    .btn-matriculese {
      position: relative;
      bottom: 0;
      left: 0;
      width: auto;
      z-index: 99;
      padding: 0;
      background-color: transparent;
    }
  }
}
