<div id="unidade">
  <header class="unidade__header">
    <div class="container d-flex align-items-start">
      <i class="fas fa-map-marker-alt fa-2x  mt-2 mr-3 text-danger"></i>
      <div>
        <h1>Campolim</h1>
        <p>Sorocaba - SP</p>
      </div>
      <div class="btn-matriculese ml-auto">
        <button class="btn btn-danger  btn-block">Matricule-se</button>
      </div>
    </div>
  </header>

  <div class="unidade__content">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="card bg-light border-light">
            <div class="card-body d-flex">
              <i class="fas fa-map-marker-alt fa-2x text-black-50 mr-3"></i>
              <div>
                <h3 class="text-danger">Endereço</h3>
                <p>Rua Sra. M. A. Pessutti Milego, 250 Sorocaba- SP</p>
                <a href="#" class="text-danger">Como chegar</a>
              </div>
            </div>

            <hr />

            <div class="card-body d-flex">
              <i class="fas fa-clock fa-2x text-black-50 mr-3"></i>
              <div>
                <h3 class="text-danger">Horários</h3>
                <p>
                  <strong>Segunda a sexta</strong><br />
                  <span>06 às 23h</span>
                </p>
                <p>
                  <strong>Sábado</strong><br />
                  <span>06 às 23h</span>
                </p>
                <p>
                  <strong>Domingos e Feriados</strong><br />
                  <span>08 às 14h</span>
                </p>
                <button class="btn btn-danger btn-block">Matricule-se</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <ngx-slick-carousel #slick="slick-carousel" class="unidade__gallery" [config]="slideConfig">
            <div ngxSlickItem class="unidade__gallery-item">
              <div class="card border-light">
                <img src="assets/content/unidade-gallery-mark.jpg" class="img-fluid" />
                <div class="card-body bg-light">
                  <p class="card-text text-center">Vestiário</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="unidade__gallery-item">
              <div class="card border-light">
                <img src="assets/content/unidade-gallery-mark.jpg" class="img-fluid" />
                <div class="card-body bg-light">
                  <p class="card-text text-center">Vestiário</p>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="col-sm-4">
          <div class="card bg-light border-light">
            <div class="card-body ">
              <div class="d-flex mb-4">
                <i class="fas fa-star fa-2x text-black-50 mr-3"></i>
                <h3 class="">Facilidades</h3>
              </div>
              <div class="features ">
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-estacionamento.svg"></svg-icon>
                  <span>Estacionamento</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-salaginastica.svg"></svg-icon>
                  <span>Sala de Ginastica</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-ambienteclimatizado.svg"></svg-icon>
                  <span>Ambiente climatizado</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-musica.svg"></svg-icon>
                  <span>Música ambiente</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-self.svg"></svg-icon>
                  <span>Self Intense (Funcinoal)</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-extreme.svg"></svg-icon>
                  <span>Self Extreme (Circuito Hit)</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-wifi.svg"></svg-icon>
                  <span>Self Connect (Wi-fi)</span>
                </div>
                <div class="feature-item">
                  <svg-icon src="../../assets/layout/icons/icon-coracao.svg"></svg-icon>
                  <span>Música ambiente</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="unidade__aulas">
    <div class="container">
      <header class="unidade__aulas-title">
        <i class="fas fa-dumbbell"></i>
        <h3>Aulas</h3>
      </header>

      <div class="d-flex unidade__aulas__list">
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-hit-white.png" alt="" />
          <span>HIT</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-jump-white.png" alt="" />
          <span>Jump</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-dancing-white.png" alt="" />
          <span>Dancing</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-meditation-white.png" alt="" />
          <span>Meditação</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-funcional-white.png" alt="" />
          <span>Funcional</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-funcional2-white.png" alt="" />
          <span>Funcional</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-core-white.png" alt="" />
          <span>Core</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-fight-white.png" alt="" />
          <span>Lutas</span>
        </div>
      </div>

      <footer class="unidade__aulas__footer">
        <a href="#" class="btn btn-lg btn-outline-light">Grade de aulas</a>
      </footer>
    </div>
  </section>

  <div class="unidade__plans">
    <div class="container">
      <h2 class="unidade__plans-title">Escolha seu plano</h2>

      <div class="unidade__plans__cards col-sm-10 mx-auto">
        <div class="d-flex no-gutters flex-column flex-sm-row">
          <div class="col-sm-6 mr-4">
            <div class="card">
              <div class="card-header">
                <span class="badge badge-light">Recomendado</span>
                <h1>Plus</h1>
                <strong>89,90*</strong>
                <small>mensais</small>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="text-center">Este plano inclui</h5>
                </div>
                <ul class="list-unstyled mt-4">
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Horário live</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Musculação</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Ergometria</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Acompanhante gratuito 4 vezes por mês</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Ginástica e dança</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Livre acesso a todas as unidades</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Multa de cancelamento Camisa exclusiva Self intense</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Anuidade com vencimento em outubro</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Camisa exclusiva Self intense</span>
                  </li>
                </ul>
              </div>
              <footer class="card-footer">
                <button class="btn btn-lg btn-danger btn-block">Matricule-se</button>
              </footer>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-white">
              <div class="card-header">
                <h1>Plus</h1>
                <strong>89,90*</strong>
                <small>mensais</small>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="text-center">Este plano inclui</h5>
                </div>
                <ul class="list-unstyled mt-4">
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Horário live</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Musculação</span>
                  </li>
                  <li>
                    <i class="fas fa-check"></i>
                    <span>Ergometria</span>
                  </li>
                </ul>
              </div>
              <footer class="card-footer">
                <button class="btn btn-lg btn-danger btn-block">Matricule-se</button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
