<div id="unidade">
  <header class="unidade__header">
    <div class="container d-flex align-items-start">
      <i class="fas fa-map-marker-alt fa-2x  mt-2 mr-3 text-danger"></i>
      <div>
        <h1>{{ unidade.nome }}</h1>
        <p>{{ unidade.cidade.nome + '-' + unidade.estado.nome }}</p>
      </div>
      <div class="btn-matriculese ml-auto">
        <button class="btn btn-danger  btn-block" (click)="matriculese(unidade, unidade.unidadePlanos[0])">
          Matricule-se
        </button>
      </div>
    </div>
  </header>

  <div class="unidade__content">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="card bg-light border-light">
            <div class="card-body d-flex">
              <i class="fas fa-map-marker-alt fa-2x text-black-50 mr-3"></i>
              <div>
                <h3 class="text-danger">Endereço</h3>
                <p>{{ unidade.endereco }}</p>
                <!--<a href="#" class="text-danger">Como chegar</a>-->
              </div>
            </div>

            <hr />

            <div class="card-body d-flex">
              <i class="fas fa-clock fa-2x text-black-50 mr-3"></i>
              <div>
                <h3 class="text-danger">Horários</h3>
                <p>
                  <strong>Segunda a sexta</strong><br />
                  <span *ngIf="unidade.horario_1">{{ unidade.horario_1 }}</span>
                </p>
                <p>
                  <strong>Sábado</strong><br />
                  <span *ngIf="unidade.horario_2">{{ unidade.horario_2 }}</span>
                </p>
                <p>
                  <strong>Domingos e Feriados</strong><br />
                  <span *ngIf="unidade.horario_3">{{ unidade.horario_3 }}</span>
                </p>
                <button class="btn btn-danger btn-block" (click)="matriculese(unidade, unidade.unidadePlanos[0])">
                  Matricule-se
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <ngx-slick-carousel #slick="slick-carousel" class="unidade__gallery" [config]="slideConfig">
            <div ngxSlickItem class="unidade__gallery-item">
              <div class="card border-light">
                <img
                  src="https://www.selfitacademias.com.br/uploads/unidade/f_{{ unidade.imagem }}"
                  class="img-fluid"
                />

                <!--<div class="card-body bg-light">
                  <p class="card-text text-center">Vestiário</p>
                </div>-->
              </div>
            </div>
            <!--<div ngxSlickItem class="unidade__gallery-item">
              <div class="card border-light">
                <img src="assets/content/unidade-gallery-mark.jpg" class="img-fluid" />
                <div class="card-body bg-light">
                  <p class="card-text text-center">Vestiário</p>
                </div>
              </div>
            </div>-->
          </ngx-slick-carousel>
        </div>
        <div class="col-sm-4">
          <div class="card bg-light border-light">
            <div class="card-body ">
              <div class="d-flex mb-4">
                <i class="fas fa-star fa-2x text-black-50 mr-3"></i>
                <h3 class="">Facilidades</h3>
              </div>
              <div class="features ">
                <div class="feature-item" *ngFor="let unidadeConveniencia of unidade.unidadeConveniencias">
                  <img
                    src="https://www.selfitacademias.com.br/uploads/conveniencia/f_{{
                      unidadeConveniencia.conveniencia.imagem
                    }}"
                  />
                  <span>{{ unidadeConveniencia.conveniencia.titulo }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="unidade__aulas d-none">
    <div class="container">
      <header class="unidade__aulas-title">
        <i class="fas fa-dumbbell"></i>
        <h3>Aulas</h3>
      </header>

      <div class="d-flex unidade__aulas__list">
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-hit-white.png" alt="" />
          <span>HIT</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-jump-white.png" alt="" />
          <span>Jump</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-dancing-white.png" alt="" />
          <span>Dancing</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-meditation-white.png" alt="" />
          <span>Meditação</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-funcional-white.png" alt="" />
          <span>Funcional</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-funcional2-white.png" alt="" />
          <span>Funcional</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-core-white.png" alt="" />
          <span>Core</span>
        </div>
        <div class="flex-fill unidade__aula">
          <img src="assets/layout/icons/icon-fight-white.png" alt="" />
          <span>Lutas</span>
        </div>
      </div>

      <footer class="unidade__aulas__footer">
        <a href="#" class="btn btn-lg btn-outline-light">Grade de aulas</a>
      </footer>
    </div>
  </section>

  <div class="unidade__plans">
    <div class="container">
      <h2 class="unidade__plans-title">Escolha seu plano</h2>

      <div class="unidade__plans__cards col-sm-10 mx-auto">
        <div class="d-flex no-gutters flex-column flex-sm-row">
          <div class="col-sm-6 mr-4">
            <div class="card card-white">
              <div class="card-header">
                <h1>Plus</h1>
                <strong>{{ unidade.unidadePlanos[1].mensalidade }}*</strong>
                <small>mensais</small>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="text-center">Este plano inclui</h5>
                </div>
                <ul class="list-unstyled mt-4">
                  <li *ngFor="let unidadeplanoinclusos of unidade.unidadePlanos[1].planoInclusos">
                    <i class="fas fa-check"></i>
                    <span *ngIf="!unidadeplanoinclusos.riscado">{{ unidadeplanoinclusos.incluso.texto }}</span>
                    <del *ngIf="unidadeplanoinclusos.riscado">{{ unidadeplanoinclusos.incluso.texto }}</del>
                  </li>
                </ul>
              </div>
              <footer class="card-footer">
                <button
                  class="btn btn-lg btn-danger btn-block"
                  (click)="matriculese(unidade, unidade.unidadePlanos[1])"
                >
                  Matricule-se
                </button>
              </footer>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="card">
              <div class="card-header">
                <span class="badge badge-light">Recomendado</span>
                <h1>Light</h1>
                <strong>{{ unidade.unidadePlanos[0].mensalidade }}*</strong>
                <small>mensais</small>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="text-center">Este plano inclui</h5>
                </div>
                <ul class="list-unstyled mt-4">
                  <li *ngFor="let unidadeplanoinclusos of unidade.unidadePlanos[0].planoInclusos">
                    <i class="fas fa-check"></i>
                    <span *ngIf="!unidadeplanoinclusos.riscado">{{ unidadeplanoinclusos.incluso.texto }}</span>
                    <del *ngIf="unidadeplanoinclusos.riscado">{{ unidadeplanoinclusos.incluso.texto }}</del>
                  </li>
                </ul>
              </div>
              <footer class="card-footer">
                <button
                  class="btn btn-lg btn-danger btn-block "
                  (click)="matriculese(unidade, unidade.unidadePlanos[0])"
                >
                  Matricule-se
                </button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
