<div id="unidade">
  <!--<header class="unidade__header">
    <div class="container d-flex align-items-center text-center">
      <div class="text-center flex-fill col-sm-6 mx-auto my-5">
        <p class="mb-5">
          A Selfit surge como um novo conceito de academia posicionada no segmento Low Cost, onde a experiência se
          apresenta com uma excelente relação de custo/benefício
        </p>

        <button [ngx-scroll-to]="'#vemcrescercomagente'" class="btn btn-large btn-danger">
          Vem crescer com a gente
        </button>
      </div>
    </div>
  </header>-->

  <div class="unidade__content my-5">
    <header class="text-center">
      <h2 class="text-danger">Investidores</h2>
    </header>

    <div class="container py-5">
      <div class="areadoaluno__interna__content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item btn btn-link align-items-center">
            <i class="fas fa-file-download mr-3 text-danger"></i> Demonstrações financeiras - 2016

            <a href="assets/pdf/2016_-_Demonstra_a_es_Financeiras.pdf" class="btn btn-danger ml-auto">Download</a>
          </li>
          <li class="list-group-item btn btn-link align-items-center">
            <i class="fas fa-file-download mr-3 text-danger"></i> Demonstrações financeiras - 2017

            <a href="assets/pdf/2017_-_Demonstra_a_es_Financeiras.pdf" class="btn btn-danger ml-auto">Download</a>
          </li>
          <li class="list-group-item btn btn-link align-items-center">
            <i class="fas fa-file-download mr-3 text-danger"></i> Demonstrações financeiras - 2018

            <a href="assets/pdf/2018_-_Demonstra_a_es_Financeiras.pdf" class="btn btn-danger ml-auto">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
