@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/transition";

#header {
  position: fixed;
  width: 100%;
  color: white;
  z-index: 99;
  @include transition();

  .navbar {
    margin-bottom: 0;
  }

  .username {
    width: 70%;
  }

  .navbar-toggler,
  .nav-link {
    color: white;
  }

  &.header--active {
    background-color: $red;
    height: 100%;
  }

  &.header--stickly {
    background-color: $red;
  }

  &.header--static {
    background-color: $red;
    position: relative;
  }

  .navbar-collapse {
    margin: 10px -20px 0 -20px;
  }

  .navbar-nav {
    border-top: 1px solid $red-dark;

    .nav-item {
      border-bottom: 1px solid $red-dark;
      color: white;
      padding: 20px 15px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

#header-logo {
  img {
    max-width: 77px;
  }
}

.navbar {
  margin-bottom: $spacer;
}

.navbar--start {
  flex-basis: 100%;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.header-logout {
  color: white;
}

@include media-breakpoint-up(sm) {
  #header-logo {
    margin-bottom: -10px;
    img {
      max-width: 220px;
    }
  }

  #header {
    .navbar {
      min-height: 80px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .navbar-collapse {
      margin: 0;
    }
    .navbar-nav {
      border-top: 0;
      display: flex;
      align-items: center;

      .nav-item {
        border-bottom: 0;
        font-size: 14px;
      }
    }

    &.header--start {
      .navbar {
        display: flex;
        justify-content: center;

        .navbar-brand {
          margin: 0 !important;
        }
      }
      .navbar-toggler {
        display: none !important;
      }
      #navbar-menu {
        display: none !important;
      }
    }
  }
}
