@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/breakpoints";

#footer {
  background-color: $gray-800;
  color: white;
}

.footer__logo {
  max-width: 211px;
  margin-bottom: 20px;
}

.footer__primary {
  padding: 30px;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  color: white;

  a {
    color: white;
    margin: 0 5px;
    font-size: 15px;
  }
}

@include media-breakpoint-up(sm) {
  .footer--start {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .footer__primary {
      padding: 10px 0;
      text-align: center;
      border: 0;
    }

    .footer__logo,
    .footer__secondary,
    .footer__copyright {
      display: none !important;
    }
  }

  .footer__primary {
    border-bottom: 1px solid $gray-700;
  }

  .footer__secondary {
    padding: 40px;

    color: white;

    strong {
      margin-bottom: 20px;
      display: block;
      font-size: 14px;
    }

    a {
      color: white;
    }

    ul {
      li {
        display: block;
        margin-bottom: 10px;

        a {
          display: block;
          color: white;
          margin-bottom: 7px;
        }
      }
    }
  }
}
