<footer id="footer" [ngClass]="{ 'footer--start': activeRoute == '/' }">
  <div class="footer__primary">
    <div class="container">
      <img src="assets/selfit-logo.png" class="footer__logo" />

      <div class="footer__social-icons">
        <a href="#"><i class="fab fa-facebook-square" class="d-block"></i></a>
        <a href="#"><i class="fab fa-twitter-square" class="d-block"></i></a>
        <a href="#"><i class="fab fa-instagram" class="d-block"></i></a>
        <a href="#"><i class="fab fa-youtube" class="d-block"></i></a>
        <a href="#"><i class="fab fa-linkedin" class="d-block"></i></a>
      </div>
    </div>
  </div>
  <div class="footer__secondary d-none d-sm-block"></div>
</footer>
