<footer id="footer" [ngClass]="{ 'footer--start': activeRoute == '/' }">
  <div class="footer__primary">
    <div class="container d-flex flex-column flex-sm-row align-items-center">
      <img
        src="assets/selfit-logo.png"
        srcset="assets/selfit-logo.png 1x, assets/selfit-logo@2x.png 2x"
        class="footer__logo"
      />

      <div class="footer__social-icons ml-sm-auto">
        <a href="https://www.facebook.com/SELFITacademias/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/selfitacademias"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/selfitacademias/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/user/ifitacademias"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="footer__secondary d-none d-sm-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <a routerLink="/unidades"><strong>Unidades</strong></a>
          <ul class="list-unstyled">
            <li>
              <a routerLink="/unidades/AL">Alagoas</a>
              <a routerLink="/unidades/AM">Amazonas</a>
              <a routerLink="/unidades/BA">Bahia</a>
              <a routerLink="/unidades/CE">Ceará</a>
              <a routerLink="/unidades/MA">Maranhão</a>
              <a routerLink="/unidades/MG">Minas Gerais</a>
              <a routerLink="/unidades/MT">Mato Grosso</a>
              <a routerLink="/unidades/PA">Pará</a>
              <a routerLink="/unidades/PB">Paraíba</a>
              <a routerLink="/unidades/PE">Pernambuco</a>
              <a routerLink="/unidades/PI">Piauí</a>
              <a routerLink="/unidades/RJ">Rio de janeiro</a>
              <a routerLink="/unidades/RN">Rio Grande do Norte</a>
              <a routerLink="/unidades/SE">Sergipe</a>
              <a routerLink="/unidades/SP">São Paulo</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <a routerLink="/aselfit"><strong>Conheça a selfit</strong></a>
        </div>
        <div class="col-sm-2">
          <a routerLink="/faleconosco"><strong>Fale conosco</strong></a>
          <ul class="list-unstyled">
            <li>
              <a routerLink="/faleconosco">Entre em contato</a>
              <a routerLink="/faleconosco/divulgue">Divulgue sua marca</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-2">
          <a routerLink="/franqueados"><strong>Seja um franqueado</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright pb-5  d-none d-sm-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>
            A Selfit é uma academia para todos: para quem tem o objetivo de treinar e ficar mais forte, mais fit,
            acelerar ou desestressar. Com mais de 30 unidades em 10 estados brasileiros, a Selfit tem estrutura única,
            com ambientes espaçosos, equipamentos modernos e programas que se adaptam ao seu estilo de vida e ritmo de
            treino.
          </p>
          <p>
            Conheça nossas aulas e estruturas: Self Intense (treino funcional), Self Extreme (treino de circuito), Self
            Velo (treino de cardio), Self Force (musculação), Painel Hit (treino de hit) e Self Ritmo (aulas de
            ginástica).
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
